@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  /*
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 72, 35, 112;
  --background-end-rgb: 55, 7, 112;
  */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
#PrimaryContainer {
  border: 2px solid cyan;
}

#NavigationMenu {
  border: 2px solid yellow;
  background-color: #666666;
  white-space: nowrap;
  text-wrap: nowrap;
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 100%;
}

#PageContent {
  border: 2px solid green;
}

#mainDiv {
  border: 2px solid red;
  background-color: #000000;
  /* background-image: url("/bground01.png") !important; */
}


body {
  color: #FFFFFF;
  
  /*
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
