@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 72, 35, 112;
  --background-end-rgb: 55, 7, 112;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* ====================== */
/* === default fonts ==== */
body,div,span,p,h1,h2,h3,font {
  color: #FFFFFF;
  font-family: "__Bricolage_Grotesque_516b68", sans-serif;
}
.SecondaryFont {
  color: #FFFFFF;
  font-family: "__Noto_Serif_bd6aef", serif;
  font-style: italic;
}


/* ====================== */
/* ========    layout.tsx */
#PrimaryContainer {
  /* border: 2px solid cyan; */
  /* background-image: url("/bg01Dark.png"); */
  /* background-size: contain; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
}

#PageContent {
  /* border: 2px solid green; */
}

#mainDiv {
  /* border: 2px solid red; */
}

/* ====================== */
/* ========    page.tsx */
#divHomePage {
  background-image: url("/bgHomepage.jpg");
  background-repeat: no-repeat;
  background-color: #FFFFFF !important;
}


